/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/symbols/sym-7/sym635.ani), url(https://cur.cursors-4u.net/symbols/sym-7/sym635.png), auto !important;} /* End https://www.cursors-4u.com */

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url();
  background-color: rgb(161, 79, 108);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  margin: 0px auto;
  padding: 25px;
}

.main-container {
  background-color: rgb(199, 221, 138);
  padding-bottom: 10px;
}

.row {
  display: flex;
}

.row:first-of-type .text-container {
  margin-top: 10px;
}

.navigation-container {
  overflow: auto;
  max-height: 233px;
}

.navigation-container h2 {
  font-size: 1.2em;
  margin-bottom: 5%;
}

.col {
  max-width: none;
}

.col.col-1 {
  width: 20%;
}

.col.col-2 {
  width: 85%;
}

.col.col-3 {
  width: 16%;
}

.col.col-4 {}

.col.col-5{
  width: 80%;
}

.col.col-6 {
  width: 15%;
}

.col.col-7{}

.col.col-8{}

.col.col-9{}

.col.col-10 {
  width: 50%;
}

.col.col-11 {
  width: 50%;
}

.text-container {
  margin: 0 10px 10px;
  padding: 10px;
  background-color: rgb(249, 250, 239);
  box-shadow: insert 0 0 10px rgb(255, 215, 223);
  border-radius: 10px;
}

.button-container {
  overflow: hidden;
}

.buttons.buttons-content {
  display: flex;
  animation-duration: 25s;
  animation-name: scroll-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.text-container.audio-container {
  border-radius: 10px;
}

.text-container.mood-container {
  padding: 10px;
  height: 20%;
}

.text-container.mood-container h2, a, img{
  font-size: 1em;
  margin: 0.2em;
}

.text-container.mood-container p{
  font-size: 1em;
  margin: 0;
}


audio {
  width: 100%;
  height: 100%;
}

.text-container.todo-container {
  height: 200px;
  overflow-y: auto;
}

.main-text {
  /*height: auto;*/
  height: 75%;
}

.main-text img {
  margin-bottom: 10px; 
  width: 100%;
}

.profile {
}

.text-container.profile{
  height: auto;
}

footer.text-container {
  margin: 0 10px;
}

footer.text-container span {
  font-size: 12px;
  margin: 0 5px;
  color: rgb(179, 76, 133);
}

footer.text-container a {
  display: inline;
  color: rgb(179, 76, 133);
}

.foot p {
  text-align: center;
}

a {
  color: rgb(46, 70, 46);
  text-decoration: none;
  margin: 5px;
}

a:hover {
  color: rgb(230, 37, 156);
}