:root {
  /* These variables exist so you can make quick and simple style changes without much CSS knowledge */

  /* applies to all areas */
  --font-family: 'Courier New', Courier, monospace;
  --font-size: 15px;
  --line-height: 1.3em;
  --font-color: black;
  --link-color: #ffa4ca;
  --link-text-decoration: none;

  /* main content (between sidebars) */
  --content-padding: 30px;
  --content-bg-color: #ffe8f6;

  /* sidebar */
  --sidebar-margin: 50px;
  --sidebar-width: 200px;
  --sidebar-padding: 15px;
  --sidebar-bg-color: #e48bb000;


  /* footer */
  --footer-height: 30px;
  --footer-bg-color: #ba658000;

  /* navbar */
  --navbar-margin-bottom: 10px;

  /* container */
  --container-width: 98%;
  --container-bg-color: #59b73d00;

  /* controls the gap between the content and the footer */
  --row-gap: 5px;

  /* To add scrollbars to your sidebars, just make the height a px value and change overflow to 'auto' */

  --sidebar-height: 100%;
  --sidebar-overflow: hidden;
  --background-color: #a1e1e0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
}

body a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: var(--link-text-decoration);
}

#main-container {
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: var(--container-bg-color);
}

.flex {
  display: flex;
  margin-bottom: var(--row-gap);
}

.content-wrap {
  margin-top: var(--content-margin-top);
}

#content-container {
  width: 80%;
  margin-bottom: var(--row-gap);
  background-color: var(--content-bg-color);
  padding: 10px;
  height: 1000px;
}

#content-container img {
  width: 90%;
  border: 1px solid rgb(224, 127, 166);
}

.year {
  text-align: center;
}

.tabcontent {
  display: none;
}

.button {
  color: #ffa4ca;
}

.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#left-sidebar {
  width: var(--sidebar-width);
  margin-right: var(--sidebar-margin);
  margin-bottom: var(--row-gap);
  height: var(--sidebar-height);
  overflow: var(--sidebar-overflow);
  background-color: var(--sidebar-bg-color);
}

#right-sidebar {
  width: var(--sidebar-width);
  margin-left: var(--sidebar-margin);
  margin-bottom: var(--row-gap);
  height: var(--sidebar-height);
  overflow: var(--sidebar-overflow);
  background-color: var(--sidebar-bg-color);
}

.resize {
  width: 100px;
  height: 105px;
}

.resize.lilguy {
  width: 140px;
  height: 150px;
}

.resize.galleryimg {
  width: 100%;
  height: 100%;
}

#header-contained {
  height: var(--header-height);
  margin-bottom: var(--header-margin-bottom);
  background-image: var(--header-background);
  background-position: center center;
}

#footer {
  height: var(--footer-height);
  text-align: center;
  color: var(--font-color);
  background-color: var(--footer-bg-color);
}

#navbar-contained {
  margin-bottom: var(--row-gap)
}

#navbar-contained img {
  height: 100px;
}

.nav {
  margin-left: 0;
  text-align: var(--navitems-alignment);
  margin-top: 0;
  margin-bottom: var(--navbar-margin-bottom);
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--nav-bg-color);
}

.wrapper {
  padding: var(--content-padding);
  padding-top: var(--sidebar-padding);
}

.sidebar-wrapper {
  padding: var(--sidebar-padding);
  height: var(--sidebar-height);
  overflow: var(--sidebar-overflow);
}

.footer-wrapper {
  padding: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(237, 156, 212) gainsboro;
}

/* To keep your site RESPONSIVE, make sure this variable matches the width for --container-width UNLESS --container-width is 100% - if it's 100%, you'll need to manually input a breakpoint. */
@media only screen and (max-width: 800px) {
  .flex {
      flex-wrap: wrap;
  }

  #left-sidebar {
      width: 100%;
      display: block;
      order: 2;
      margin-right: 0;
      margin-bottom: 10px;
  }

  #right-sidebar {
      width: 100%;
      display: block;
      order: 3;
      margin-left: 0;
  }

  #content-container {
      width: 100%;
      display: block;
      order: 1;
      margin-bottom: 10px;
  }

}